name: main

# Automatically cancel a previous run.
concurrency:
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - '*'
  merge_group:

jobs:

  run-type-checking:

    name: Run tests for type-checking
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
      - name: Run type checking
        run: uv run --extra test --extra typing ty check src/ tests/

  run-tests:

    name: Run tests for ${{ matrix.os }} on ${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: ['ubuntu-latest', 'macos-latest', 'windows-latest']
        python-version: ['3.10', '3.11', '3.12', '3.13', '3.14']

    steps:
      - uses: actions/checkout@v5
      - uses: r-lib/actions/setup-r@v2
      - name: Install R packages
        run: Rscript -e 'install.packages(c("jsonlite", "yaml"), repos="https://cloud.r-project.org")'
      - uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python-version }}
          enable-cache: true

      # Unit, integration, and end-to-end tests.

      - name: Run unit tests and doctests.
        run: uv run --extra test pytest -m "unit or (not integration and not end_to_end)" --cov src --cov tests --cov-report=xml -n auto

      - name: Upload unit test coverage reports to Codecov with GitHub Action
        uses: codecov/codecov-action@v5
        with:
          flags: unit

      - name: Run end-to-end tests.
        run: uv run --extra test pytest -m end_to_end --cov src --cov tests --cov-report=xml -n auto

      - name: Upload end_to_end test coverage reports to Codecov with GitHub Action
        uses: codecov/codecov-action@v5
        with:
          flags: end_to_end
